# (c) 2024 @Maxylan
# Ignore init.sql, since it contains a standard password.
*/init/init.sql

# Ignore configuration.
.env
*/resources/application.conf
!*/resources/.gitinclude
!*/resources/homie-http-core.conf

dockerfiles/conf/*/*
!dockerfiles/conf/*/sample_*.*
!dockerfiles/conf/*/.gitinclude

dockerfiles/ssl/*/*
dockerfiles/ssl/**/*
!dockerfiles/ssl/.gitinclude
!dockerfiles/ssl/commands.txt

# Ignore garbage.
.bsp
.vs
.vscode
.vscode-server
.idea
.cache
.metals
.bloop
.scala-build
.scala-build-target