# (c) 2024 @Maxylan
# Ignore init.sql, since it contains a standard password.
*/init/init.sql

# Ignore configuration.
.env
*/resources/application.conf

# Ignore garbage.
.bsp
.vs
.vscode
.idea
.cache
.metals
.bloop
.scala-build
.scala-build-target